/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 900;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button {
  position: relative;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  padding-top: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.sb-150 {
  height: 150px !important;
  width: 100% !important;
  display: block !important;
}

.sb-100 {
  height: 100px !important;
  width: 100% !important;
  display: block !important;
}

.sb-90 {
  height: 70px !important;
  width: 100% !important;
  display: block !important;
}

.sb-80 {
  height: 70px !important;
  width: 100% !important;
  display: block !important;
}

.sb-70 {
  height: 70px !important;
  width: 100% !important;
  display: block !important;
}

.sb-60 {
  height: 70px !important;
  width: 100% !important;
  display: block !important;
}

.sb-50 {
  height: 50px !important;
  width: 100% !important;
  display: block !important;
}

.sb-40 {
  height: 40px !important;
  width: 100% !important;
  display: block !important;
}

.sb-20 {
  height: 20px !important;
  width: 100% !important;
  display: block !important;
}

.sb-30 {
  height: 30px !important;
  width: 100% !important;
  display: block !important;
}

.sb-10 {
  height: 10px !important;
  width: 100% !important;
  display: block !important;
}

.sb-5 {
  height: 5px !important;
  width: 100% !important;
  display: block !important;
}

nav {
  margin: 0 auto;
  text-align: center;
}

.mobile-only-nav {
  display: none;
}

nav ul li a {
  text-decoration: none;
  color: #b54539;
  font-weight: 900;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 0.5;
  position: relative;
}

nav ul li a:before {
  bottom: -10px;
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #b54539;
  transition: all 0.2s;
}

nav ul li a.active:before {
  width: 100%;
}

/* Avoid double tapping links on mobile */
@media only screen and (min-width: 501px) {
  nav ul li a:hover:before {
    width: 100%;
  }
  button:hover {
    box-shadow: 0 0px #0649ae;
    transform: translateY(6px);
    transition: all 0.2s;
  }
  .sub-title-text .sub-title-text__trigger:hover {
    opacity: 0.9;
    transition: all 0.2s;
  }
}

.logo {
  width: 100px;
}

.logo-on-nav {
  width: 35% !important;
}

.logo-on-nav a {
  display: inline-block;
}

.homepage {
  overflow: hidden;
}

.full-size {
  width: 100%;
  position: relative;
}

span.blue,
span.red {
  background-color: white;
  padding: 4px 10px;
  border-radius: 2px;
  font-weight: 900;
}

span.blue {
  color: #2322a6;
}

span.red {
  color: #9d151e;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style-type: none;
  padding: 0;
}

.modal-info li {
  list-style-type: disc;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.flex-parent-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-parent-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.flex-parent > li {
  width: 18%;
}

.d-inline-block {
  display: inline-block;
}

.nav-slider {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.3),
    0 8px 12px rgba(0, 0, 0, 0.1);
}

.prev-button i,
.next-button i {
  font-size: 40px;
}

.prev-button,
.next-button {
  padding: 20px 30px;
  margin-right: 1px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}

.prev-button:hover,
.next-button:hover {
  opacity: 0.9;
}

.homepage {
  color: #fff;
  height: calc(100vh - 110px);
}

.homepage-background {
  background-image: url('./assets/images/picture1.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  opacity: 1;
}

.homepage-background-overlay {
  background-size: cover;
  /* background: #0f2027;
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  );
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); */
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.98;
}

.other-than-homepage .homepage-background,
.other-than-homepage .homepage-background-overlay {
  height: 360px;
}

.content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.content.header-wrapper {
  height: 250px;
}

.huge-company-name {
  font-size: 122px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -5px;
  position: relative;
}

.huge-company-name.header {
  color: #fff;
  font-size: 60px;
  text-align: left;
}

.header.huge-company-name:before {
  position: absolute;
  content: '';
  left: 0px;
  top: -20px;
  height: calc(100% + 70px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header.huge-company-name:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: -50px;
  height: 1px;
  width: calc(100% + 50px);
  background-color: rgba(255, 255, 255, 0.2);
}

.huge-company-name:before {
  position: absolute;
  content: '';
  left: 0px;
  top: -20px;
  height: calc(100% + 90px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.huge-company-name:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: -100px;
  height: 1px;
  width: calc(100% + 100px);
  background-color: rgba(255, 255, 255, 0.2);
}

.brief-description-company {
  margin-top: 30px;
  font-size: 20px;
  padding-left: 30px;
  font-weight: 300;
}

.about-the-business {
  padding: 50px 0;
}

.about-the-business-bg {
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 20%;
}

.title-text {
  font-size: 50px;
  position: relative;
  padding-top: 30px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -3px;
}

.sub-title-text {
  width: 100%;
}

.sub-title-text .sub-title-text__trigger {
  font-size: 30px;
  color: #fff;
  position: relative;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -1px;
  padding: 20px 20px 20px 40px;
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: #2322a6;
  border-radius: 4px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
}

.sub-product-text {
  margin-left: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  width: 100%;
  font-weight: 800;
  position: relative;
}

.sub-product-text:before {
  content: '';
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 50%;
  margin-left: 0px;
  background-color: #e4c465;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.google-map {
  background-color: #0f2027;
}

.sub-title-text__trigger:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f0d7';
  position: absolute;
  color: #e4c465;
  right: 30px;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.sub-title-text__trigger.is-open:after {
  transform: translateY(-50%) rotateZ(180deg);
}
.sub-title-text__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.sub-title-text .sub-title-text__trigger.is-open {
  margin-bottom: 40px;
}

.sub-title-text .sub-title-text__trigger:before {
  content: '';
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 50%;
  margin-left: 20px;
  background-color: #e4c465;
  transform: translateY(-50%);
}

.title-text:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 5px;
  width: 50%;
  background-color: #9d151e;
}

.title-text:after {
  position: absolute;
  top: 0px;
  right: 0;
  content: '';
  height: 5px;
  width: 50%;
  background-color: #2322a6;
}

.about-the-business .title,
.visi-misi .title {
  width: 30%;
  font-size: 50px;
  position: relative;
  padding-top: 30px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -3px;
}

.about-the-business .title:before,
.visi-misi .title:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 5px;
  width: 50%;
  background-color: #9d151e;
}

.about-the-business .title:after,
.visi-misi .title:after {
  position: absolute;
  top: 0px;
  right: 0;
  content: '';
  height: 5px;
  width: 50%;
  background-color: #2322a6;
}

.about-the-business .text,
.visi-misi .text {
  width: 70%;
  padding: 100px;
  text-align: justify;
  padding-left: 0;
}

.p-text {
  font-size: 23px;
  font-weight: 300;
  font-family: 'Chivo', Arial, Helvetica, sans-serif;
}

.visi-misi .title,
.visi-misi .text {
  width: unset;
  padding-left: 0;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 0;
  display: inline-block;
}

.visi-misi {
  padding: 0px 0 150px;
}

.visi-misi .title {
  padding-right: 0 !important;
}

.visi-misi .picture {
  width: 50%;
}

.visi-misi .picture img {
  width: 100%;
  border-radius: 4px;
}

.title-and-text {
  padding-left: 0px;
  width: 50%;
}

.about-the-business .picture {
  width: 30%;
}

.modal-image {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.92);
  top: 0;
  left: 0;
  z-index: 99;
  padding: 50px 150px;
  overflow: scroll;
}

.modal-image img {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
  padding: 0;
}

.modal-image .modal-info {
  background-color: white;
  padding: 40px 60px;
  width: 100%;
}

.modal-image .modal-info h1 {
  margin-top: 0;
}

.product-videos {
  width: 100%;
  margin-bottom: 40px;
}

.product-videos iframe {
  width: 50%;
  height: 320px;
  padding-left: 10px;
  padding-right: 10px;
}

.product {
  width: calc(100% / 3);
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.product.services {
  width: calc(100% / 2);
}

.product-image-wrapper {
  position: relative;
}

.product-image {
  cursor: pointer;
  height: 250px;
  background-color: #fff;
  position: relative;
}

.overlay-info-button {
  content: 'Click for more info';
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all 0.3s;
}

.product-image:hover .overlay-info-button {
  opacity: 1;
  transition: all 0.3s;
}

.product-brand-header {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

.product img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.product .p-text {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  color: #445868;
}

.product-name-wrapper {
  padding-left: 15px;
  position: relative;
}

.product-name-wrapper:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #9d151e;
  left: 0;
  top: 0;
}

.product-name-wrapper span {
  display: block;
  margin-top: 15px;
  font-style: italic;
  font-size: 12px;
  font-weight: 700;
  display: none;
}

.flex-parent-wrap.product-row,
.flex-parent-wrap.sub-title-text__contentInner {
  align-items: unset;
  justify-content: flex-start;
}

.service-image {
  position: relative;
}

.service-text {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
  left: 50%;
  font-size: 30px;
  width: 100%;
  padding: 25px;
  transition: all 0.3s;
}

.service-text span {
  display: block;
  opacity: 0;
  height: 0;
  font-size: 16px;
  transition: all 0.3s;
}

.services:hover .service-text span {
  height: 50px;
  opacity: 1;
  transition: all 0.3s;
}

.modal-info .catalogue-library {
  display: inline-block;
  background-color: #fafafa;
}

.catalogue-row .catalogue-library {
  margin: 12px;
}

.catalogue-library {
  padding: 20px;
  border: 0px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 30px 31px -20px rgba(0, 0, 0, 0.2);
}

.catalogue-library img {
  width: 30px;
  margin-right: 20px;
}

.black-bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

form {
  width: 40%;
  margin: 0 auto;
}

label,
input,
textarea {
  width: 100%;
  display: block;
  text-align: left;
}

label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 30px;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 8px 11px 0px 0px rgba(0, 0, 0, 0.02);
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  border-radius: 5px;
}

.text-middle {
  text-align: center;
}

button {
  -webkit-appearance: none;
  border: 0px solid;
  background-color: #2322a6;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 6px #082571;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

form button {
  float: left;
}

.google-map iframe {
  width: 100%;
}

footer {
  color: white;
  padding: 50px 0 80px;
  background-color: #0f2027;
}

footer .p-text {
  font-size: 14px;
}

.hide-opacity {
  opacity: 0;
}

.show-opacity {
  opacity: 1;
}

.animated.delay-03s {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animated.delay-06s {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated.delay-09s {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated {
  animation-duration: 1s;
}

.animated.fadeIn {
  animation-duration: 0.3s;
}

.animated.delay-15s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

ul {
  padding-left: 0;
}

.d-block {
  display: block !important;
}

.sb-150.mobile-only-space {
  display: none !important;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide > div {
  width: 100%;
}

.slide-wrapper img {
  width: 100%;
  padding: 0 150px;
}

.slide-wrapper:focus {
  outline: none;
}

.slide-wrapper {
  padding: 0px 3px;
}

.slick-slide {
  float: none;
}

.slick-initialized .slick-slide {
  display: flex;
  align-items: center;
}

button.slick-prev:hover,
button.slick-next:hover {
  background: rgba(0, 0, 0, 0.9);
  transform: translate(0);
}

button.slick-prev,
button.slick-next {
  box-shadow: unset;
}

button.slick-prev {
  right: 81px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: unset;
  right: 0;
  transform: none !important;
  top: unset;
  bottom: 0;
  display: block;
  z-index: 8;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0;
}

.slick-next:focus,
.slick-prev:focus {
  background: rgba(0, 0, 0, 0.8);
}

.slick-prev:before,
.slick-next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button:focus {
  outline: none;
}

.loading-spinner {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 4px;
  background-color: #2322a6;
}

.loading-spinner img {
  height: 70%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 5px;
}

.success-message {
  background-color: #76af6e;
}

.error-message {
  background-color: #b7514d;
}

.success-message,
.error-message {
  position: fixed;
  top: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  border-radius: 22px 3px 3px 22px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.success-icon {
  background-color: #689b5d;
}

.error-icon {
  background-color: #9b3a2f;
}

.success-icon,
.error-icon {
  padding: 22px;
  color: white;
  border-radius: 22px 0 0 22px;
}

.success-text,
.error-text {
  padding: 0 22px;
  color: white;
  font-weight: 900;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 800px;
  }
  .huge-company-name {
    font-size: 110px;
  }
  form {
    width: 60%;
  }
  .other-than-homepage .homepage-background,
  .other-than-homepage .homepage-background-overlay {
    height: 310px;
  }
  .content.header-wrapper {
    height: 200px;
  }
  .huge-company-name.header {
    color: #fff;
    font-size: 55px;
    text-align: left;
  }
  .title-text {
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0 30px;
  }
  .content.visi-misi {
    padding-bottom: 100px;
  }
  .huge-company-name {
    font-size: 95px;
  }
  .logo-on-nav {
    width: 25% !important;
  }
  .product {
    width: calc(100% / 2);
  }
  .modal-image {
    padding: 50px;
  }
  .modal-image .modal-info {
    padding: 30px;
  }
  nav ul li a {
    font-size: 13px;
  }

  .service-text span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .catalogue-row .catalogue-library {
    margin: 10px;
  }
  .content.header-wrapper {
    height: 200px;
    padding-top: 50px;
  }
  .sb-150.mobile-only-space {
    display: block !important;
  }
  form button {
    float: none;
  }
  .huge-company-name.header {
    font-size: 40px;
  }
  .huge-company-name:before {
    height: calc(100% + 50px);
  }
  .huge-company-name:after {
    left: -20px;
    width: 100%;
  }
  .slide-wrapper img {
    padding: 0;
  }
  .title-text {
    font-size: 35px !important;
  }
  .p-text {
    font-size: 19px;
    line-height: 1.4;
  }
  .product-videos iframe {
    width: 100%;
    padding: 0;
  }
  .product {
    width: 100%;
    padding: 0;
  }
  .about-the-business,
  .visi-misi {
    flex-direction: column-reverse;
  }
  .about-the-business .text,
  .about-the-business .visi-misi .text {
    width: 100%;
    padding: 30px 0 0 0;
    text-align: justify;
    padding-left: 0;
  }
  .about-the-business .title,
  .visi-misi .title {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .title-and-text {
    width: 100%;
  }
  .about-the-business .title,
  .visi-misi .title {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 50px;
  }
  .visi-misi .picture {
    width: 100%;
    margin-top: 50px;
  }
  .sb-150,
  .sb-100 {
    height: 50px !important;
  }
  .modal-image {
    padding: 20px;
  }
  .sub-title-text__contentInner .product:nth-of-type(3n + 1),
  .sub-title-text__contentInner .product:nth-of-type(3n + 0) {
    padding: 0;
  }
  .sub-title-text__contentInner > .sb-20 {
    height: 0 !important;
  }
  .service-text {
    font-size: 25px;
  }
  .sub-title-text .sub-title-text__trigger {
    font-size: 20px;
    padding: 12px 40px 12px 40px;
  }
  .sub-product-text {
    font-size: 17px;
  }
  .huge-company-name {
    font-size: 50px;
  }
  .brief-description-company {
    margin-top: 60px;
    font-size: 16px;
    padding-left: 0;
  }
  .nav-slider {
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
  }
  .visi-misi .title,
  .visi-misi .text {
    width: 100%;
    padding-right: 0;
    text-align: left;
  }
  nav ul.flex-parent {
    flex-direction: column;
    height: 100%;
  }
  nav.animated {
    animation-duration: 0.5s;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    height: 100%;
    background-color: rgba(15, 32, 39, 0.99);
  }
  .flex-parent > li {
    width: 100%;
    margin: 10px 0;
  }
  .logo-on-nav {
    display: none;
  }
  nav .content {
    height: 100%;
  }
  .App {
    padding: 0;
  }
  .other-than-homepage .homepage-background,
  .other-than-homepage .homepage-background-overlay {
    height: 200px;
  }
  .mobile-only-nav {
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 14px 0;
    box-shadow: 2px 4px 13px -4px rgba(0, 0, 0, 0.2);
  }
  .mobile-only-nav a {
    display: inline-block;
  }
  .logo {
    width: 60px;
  }
  .homepage {
    height: 100%;
  }
  .menu-mobile-button {
    position: absolute;
    cursor: pointer;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    background-color: #2322a6;
    color: white;
    padding: 21px;
  }
  form {
    width: 100%;
  }
  input,
  textarea {
    font-size: 15px;
    padding: 12px 24px;
  }
  .product.services {
    width: 100%;
  }
  .success-message,
  .error-message {
    width: 100%;
    top: 70px;
  }
}

@media only screen and (max-width: 321px) {
  .prev-button,
  .next-button {
    padding: 10px 20px;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
